<nav style="margin-top: {{ include.margin-top }}; margin-bottom: {{ include.margin-bottom }}; height: 25px;">
    <ul style="width: fit-content; padding: 0; margin: 0 auto;">
        <li style="float: left; list-style-image: none; list-style-type: none;">
            <a href="/">Home</a>
        </li>
        <li style="float: left; margin-left: 2rem; list-style-image: none; list-style-type: circle;">
            <a href="/segfault/free/">Service</a>
        </li>
        <li style="float: left; margin-left: 2rem; list-style-image: none; list-style-type: circle;">
            <a href="/segfault/gui/">GUI</a>
        </li>
        <li style="float: left; margin-left: 2rem; list-style-image: none; list-style-type: circle;">
            <a href="/segfault/wireguard/">WireGuard</a>
        </li>
        <li style="float: left; margin-left: 2rem; list-style-image: none; list-style-type: circle;">
            <a href="/segfault/token/">Tokens</a>
        </li>
        <li style="float: left; margin-left: 2rem; list-style-image: none; list-style-type: circle;">
            <a href="/segfault/upgrade/">Upgrade</a>
        </li>
        <li style="float: left; margin-left: 2rem; list-style-image: none; list-style-type: circle;">
            <a href="/segfault/faq/">FAQ</a>
        </li>
    </ul>
</nav>
