<nav style="margin-top: {{ include.margin-top }}; margin-bottom: {{ include.margin-bottom }}; height: 25px;">
    <ul style="width: fit-content; padding: 0; margin: 0 auto;">
        <li style="float: left; list-style-image: none; list-style-type: none;">
            <a href="/">Home</a>
        </li>
        <li style="float: left; margin-left: 2rem; list-style-image: none; list-style-type: circle;">
            <a href="/ssh-it/">SSH-IT</a>
        </li>
        <li style="float: left; margin-left: 2rem; list-style-image: none; list-style-type: circle;">
            <a href="/ssh-it/berserker/how-it-works/">How it work</a>
        </li>
    </ul>
</nav>
